$ancho  = 1024px
body
	background #e6e6e6
.container
	width 1024px
	margin 0 auto
	padding 0px
	ul
		padding 0px
	.header
		background #000
		height 60px
		width 100%
		&:before
			background: #000;
			content ""
			display block
			height 60px
			left -0%
			position absolute
			top 0
			width 100%
			z-index -1
		.images
			background url('../img/Frente_titulo.jpg')
			background-size 120px  50px
			display inline-block
			height 50px
			margin-top 4px
			margin-right 10px
			vertical-align top
			width 120px
		h1
			color #fff
			display inline-block
			font-size 25px;
			margin 0px
			padding-top 16px
			vertical-align top
		.headeright
			float right
			padding-top 15px
			.dropdown-menu
				right 0 !important
				float right !important
			.btn-default
				background #000 !important
				color #fff !important
				border-color #000 !important
	.menu
		background #F5B333
		height 160px
		width 100%
		&:before
			background: #F5B333;
			border-bottom 10px solid #fff
			content ""
			display block
			height 160px
			left 0%
			position absolute
			top 60px
			width 100%
			z-index -1
		.lista-menu 
			height 80px
			padding-top 20px
			width 80%
			.dropdown
				display inline-block
				vertical-align top
				width 16%
				.dropdown-bajo
					height auto !important
					padding-top 0px !important
					li
						border-color #fff !important
						list-style none !important
						height auto !important
						text-shadow: 1px 1px 2px #fff;
						min-width: 180px;
						i
							color #000 !important
							font-size 12px !important
							float left
							padding-top 5px
							margin-left 15px
							width 15px !important
						a
							color #000 
							display inline-block 
							padding 0px
							vertical-align top 
							width 100% 
						&:hover
							border-color #fff !important
							border-radius 0px
			li
				border 1px solid #F5B333
				display inline-block
				height 80px
				font-size 16px
				list-style none
				text-align center
				vertical-align top
				width 100%
				text-shadow: 1px 1px 2px #3E8851;
				i 
					color #fff
					font-size 30px
					padding-top 15px
					width 100%
				p
					color #fff
					display inline-block
					margin-right 8px
					vertical-align top
					width auto
				span
					color #fff
				&:hover
					border 1px solid #dc9400
					border-radius 11px
			.activate
				background #dc9400
				border 1px solid #dc9400
				border-radius 11px
	.contenido
		background red
		border 5px solid #fff
		height 500px
		position absolute
		top 165px
		width $ancho