<!DOCTYPE html>
<html lang="utf-8">
<head>
	<meta lang= "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/estilo.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="images"></div>
			<h1>Administrador</h1>
			<div class="headeright">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				    Claudia
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-cog">	</i>	Cambiar Contraseña</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-sign-out"></i> 	Cerrar Sesión</a></li>
				  </ul>
				</div>
			</div>
		</div>
		<div class="menu">
			<ul class = "lista-menu">
				<div class="dropdown">
					<li class = "menu_option" ><i class="fa fa-align-left"></i> <p>Clientes</p></li>
				</div>
				<div class="dropdown">
					<li class = "menu_option" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-comments"></i> <p>PR</p><span class="fa fa-caret-down"></span></li>
					<ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu1">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Ver PR </a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-plus-square"></i> Añadir PR </a></li>
					</ul>
				</div>
				<div class="dropdown">
					<li class = "menu_option" id="dropdownMenu2" data-toggle="dropdown"><i class="fa fa-ticket"></i> <p>Cupones</p><span class="fa fa-caret-down"></span></li>
					<ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu2">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Ver Cupones </a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-plus-square"></i> Creas Cupón </a></li>
					</ul>
				</div>
				<div class="dropdown">
					<li class = "menu_option" id="dropdownMenu3" data-toggle="dropdown"><i class="fa fa-share-alt-square"></i> <p>Aliados</p><span class="fa fa-caret-down"></span></li>
					<ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu3">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Ver Aliados </a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-plus-square"></i> Crear Aliado </a></li>
					</ul>
				</div>
				<div class="dropdown">
					<li class = "menu_option" id="dropdownMenu4" data-toggle="dropdown"><i class="fa fa-thumbs-up"></i> <p>Campañas</p><span class="fa fa-caret-down"></span></li>
					<ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu4">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Ver Capañas </a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-plus-square"></i> Crear Campaña </a></li>
					</ul>
				</div>
				<div class="dropdown">
					<li class = "menu_option" id="dropdownMenu5" data-toggle="dropdown"><i class="fa fa-envelope"></i> <p>Quejas</p><span class="fa fa-caret-down"></span></li>
					<ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu5">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Ver queja </a></li>
					</ul>
				</div>
			</ul>
		</div>
		<div class="contenido"></div>
	</div>
</body>
</html>